.example-form {
  margin-top: 3%;
  margin-left: 25%; 
  border-top: 2px greenyellow solid ;
  border-bottom: 2px greenyellow solid ;
  border-radius: 5%;
  width: 50%;
  height: 40%;
  padding: 2%;
  top:15%;
  left:30%;
  
}

.example-full-width {
  width: 80%;
  margin: 0 8%;
}
.example-button-row button{
  margin-bottom: 4%;
  margin-left: 42%;
  margin-top: 0;
}
.example-button-row a {
  margin-bottom: 5px;
  margin-top: 0px;
}

.example-half-width{
width: 36%;
margin-left: 8%  ;
}

.all-div{
  width: 100%;
  height: 100%;
}
a{
  margin-left: 32%;
}